body { 
  display: flex;
  flex-direction: column;
}

.topContainer{
    display: flex;
    width: 100%;
    height: 50%;
}

.treeMap{
    width: 100%;
    height: 100%;
}

.differenceChart {
  width: 100%;
  height:50%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.area.above {
  fill: rgb(252,141,89);
}

.area.below {
  fill: rgb(145,207,96);
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}








text {
  pointer-events: none;
}
.grandparent text {
  font-weight: bold;
}
rect {
  stroke: #fff;
  stroke-width: 1px;
}
rect.parent,
.grandparent rect {
  stroke-width: 3px;
}
.grandparent:hover rect {
  fill: grey;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}
.children rect.child {
  opacity: 0;
}
.children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}
.children:hover rect.parent {
  opacity: 0;
}
.legend {
  margin-bottom:8px !important;
}
.legend rect {
  stroke-width: 0px;
}
.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 13px;
  font-family: sans-serif;
  fill: black;
}
.form-group {
    text-align:left;
}
.textdiv {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
    overflow:none;
}
.textdiv .title {
    font-size: 102%;
    font-weight: bold;
    margin-top: 8px;
    font-size:11px !important;
}
.textdiv p{
    line-height: 13px;
    margin:0 0 4px !important;
    padding:0px;
    font-size:10px !important;
}